{% load staticfiles static %}
<html>
<head>
    <title>PL Library | Login</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">

</head>
<body>

{% block content %}{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>PL Library © - 2014</p>
                <p>Powered by <strong><a href="http://www.facebook.com/tavo.qiqe.lucero" target="_blank">Pure Logics</a></strong></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>